h1 {
    text-align: center;
}



.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.county-stat-container {
    border-style: solid;
    margin: 15px;
    padding: 15px;
}