*, h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 33px;
    height: auto;
    margin-right: 12px;
}

h1 {
    text-align: center;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

p {
    text-align: center;
}
a, a:visited{
    color: blue;
}

.stats {
    display: flex;
    justify-content: center;
}

table, th, td {
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
}


thead, th {
    background-color: rgba(255, 16, 56, 0.952);
    color: white;

    border-color: black;
}
tbody>tr:nth-child(even) {
    background-color: rgba(226, 226, 226, 0.938);
}
.numbers:hover {
    cursor: pointer;
}
p#author {
    position: absolute;
    top: 0;
    right: 0;
    font-size: smaller;
    margin-top: 0;
    
}
